@section CustomStyles {
    <link rel="stylesheet" href="~/Contents/css/news.css">
}
@{
    ViewBag.Title = "ArticleDetail";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="bg-news">
    <div class="container">
        <h4 class="sub-head-detail-news-1 mb-4 font-nunito pt-5">
            Is exercise the cause of knee pains? Will strength training make me look bulky? Must you be a morning person and do morning workouts in order to hit your goals? Find out if these are facts or myths.</h5>
            <div class="img-detail-1 mb-4">
                <img src="~/Contents/img/news_detail_1.jpg" alt="" class="img-fluid">
            </div>
            <h4 class="font-nunito-head mb-4">What Have You Heard About Exercise?</h4>
            <p class="font-nunito">”No pain, no gain!” “Don’t lift weights, if not your arms will become bulky!”</p>
            <p class="font-nunito">You might have heard some of these exercise myths touted as truth by your workout kakis. You might even believe in a few. While some fitness myths are harmless, others might cause injury or hinder your workouts. So, let’s debunk some not-so-helpful myths.</p>
            <h4 class="font-nunito-head mb-4">Myth 1: Longer Workouts Are Better</h4>
            <p class="font-nunito mb-4">
                Must you spend hours in the gym pounding the treadmill to maintain a healthy weight and reap the benefits of exercise? The answer's no: long workouts aren't necessarily better than short ones.
                Short, high-intensity workouts like High-Intensity Interval Training (HIIT) could be just as effective in helping you get fit.
                How long should you exercise every day? If you're short on time and unable to commit to regular 60-minute sessions, to meet your recommended minimum 150 to 300 minutes of moderate-intensity aerobic physical activity weekly, try your best to clock in shorter bouts of 15- to 30-minutes of physical activity throughout the day.
                You might even find yourself more motivated — 15 minutes per day is a small, easy commitment to start with.
                If you are a beginner, you can start with 15-minute brisk walks around your estate, whereas if you fancy a challenge, you can try different high-intensity interval workouts. You can do these anywhere: at home, in the park or in your office.
            </p>
            <h4 class="font-nunito-head mb-4">Myth 2: No Pain, No Gain</h4>
            <p class="font-nunito">
                You may have heard the phrases “no pain, no gain” and “pain is weakness leaving the body” thrown around by fiery personal trainers on social media.
                The shouting makes good entertainment, but there’s no basis for those beliefs. A good workout should not leave you in pain, nor does pain mean you’re having a good workout.
                True, discomfort is natural, especially if your workout is intense. And you should expect some muscle soreness if you haven’t worked out in a while.
                But when discomfort evolves into pain, you should stop: it could be a sign that you’ve overworked your muscles or injured yourself.
                Listen to your body and challenge yourself to break out of your comfort zone to reach your fitness goals, but not to the point of pain and exhaustion.
            </p>
            <h4 class="font-nunito-head mb-4">Myth 3: Women Who Lift Weights Have Bulky Muscles</h4>
            <p class="font-nunito">
                You might be hesitant to work with weights because of the misconception that lifting will give you big muscles.
                While weights wouldn’t make you super buff, they’ll help tone your muscles (boosting your confidence when wearing
                sleeveless outfits!), improve your strength, and keep your bones strong to protect you against age-related muscle loss.
                Dust off the dumbbells and resistance bands, or even head down to your nearest fitness corner. Start strength training
                at least 2 days a week to strengthen your different muscle groups!
            </p>
            <h4 class="font-nunito-head mb-4">Myth 4: The Best Time to Exercise Is in the Morning</h4>
            <p class="font-nunito pb-5">
                Morning workouts give you a dose of endorphins to kick-start your day the kopi-free way. If you’re an early bird, exercising in the morning is probably easier for you. What if you’re not?
                The best time to exercise is whenever you can fit a workout consistently into your schedule — a jog shouldn’t require you to upend your routine or cause you extra stress.
                Instead of stressing over waking up extra early for an early morning workout, try a 15-minute lunchtime gym session or go swimming after work. Your workout schedule should work for you, not the other way around.
                In a myth-busting mood? Learn more about common exercise myths in Myths about Weight Loss.
                Do consult your doctor before starting any exercise regime, and practise caution when exercising. Remember, safety first!
            </p>
    </div>
</div>

