@section CustomStyles {
    <link rel="stylesheet" href="~/Contents/css/contact.css">
}
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<div class="wrapper bg-wrapper">
    <div class="container d-flex justify-content-center align-content-center padding-card">
        <div class="card">
            <h1 class="ms-5 mb-5 mt-4">Contact Us</h1>
            <div class="d-flex justify-content-center">
                <img class="card-img-top contact-img" src="~/Contents/img/contact-us.png" alt="Card image cap">
            </div>
            <div class="card-body ms-5 me-5">
                <p class="card-text">If you have a health question, we encourage you to visit our FAQs section where you'll find answers to many common inquiries. Additionally, you can explore our extensive collection of health articles and educational materials, which provide valuable information on a wide range of topics. These resources are designed to help you better understand your health and make informed decisions.</p>
                <h6 class="card-text">Our Contact :</h6>
                <div class="contact-details">
                    <h6><i class="bi bi-envelope"></i> Email : cs@nutri-grade.com</h6>
                    <h6><i class="bi bi-telephone"></i> Phone : +62-817-123-30-456</h6>
                    <h6><i class="bi bi-telegram"></i> Telegram : nutri_grade_support</h6>
                </div>
            </div>
        </div>
    </div>
</div>