
@section CustomStyles {
    <link rel="stylesheet" href="~/Contents/css/index.css">
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="container d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col landing-parent">
            <div class="seperate">
                <p class="landing-head">The Importance of Nutrition</p>
                <p class="landing-head">and Portion Sizes</p>
                <p class="landing-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
        </div>
        <div class="col">
            <img src="~/Contents/img/nutrition-guide.png" alt="" class="img-fluid">
        </div>
    </div>
</div>


<div class="wrapper-content mt-5">
    <div class="row">
        <div class="col bg-live-healthy">
            <div class="text-center text-white">
                <div class="row">
                    <h1 class="health-head">Live Healthy</h1>
                    <hr>
                </div>
                <ul class="non-list font-li">
                    <li><a href="#" class="non-underline text-white">Get Active </a></li>
                    <li><a href="#" class="non-underline text-white">Eat Healthy</a></li>
                    <li><a href="#" class="non-underline text-white">Mind & Balance</a></li>
                    <li><a href="#" class="non-underline text-white">Quit Smoking</a></li>
                    <li><a href="#" class="non-underline text-white">Seniors' Health</a></li>
                </ul>
            </div>
        </div>
        <div class="col bg-health-tools">
            <div class="text-center text-white">
                <div class="row">
                    <h1 class="health-head">Health Tools</h1>
                    <hr>
                </div>
                <ul class="non-list font-li">
                    <li><a href="#" class="non-underline text-white">BMI Calculator</a></li>
                    <li><a href="#" class="non-underline text-white">Calorie Calculator</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col me-4">
                <div class="img-wrapper">
                    <img src="~/Contents/img/nutrition_mobile_apps.png" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col">
                <h5 class="our-app">Get Our App</h5>
                <p class="one-stop">One-stop access to all your health services and records.</p>
                <div class="flex no-wrap">
                    <a href="https://www.apple.com/id/app-store/">
                        <img class="ios" src="~/Contents/img/download-appstore.png" alt="img">
                    </a>
                    <a href="https://play.google.com/store/apps?hl=en_US&pli=1">
                        <img class="ios" src="~/Contents/img/download-playstore.png" alt="img">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
